<!-- <footer color="primary" fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="10px">
  <p>Contact information: <a class="footerLink" href="mailto:shannonestuarydm@gmail.com">shannonestuarydm@gmail.com</a>
  </p>
  <p>Thanks to <a class="footerLink" href="http://www.iwdg.ie/">Irish Whale and Dolphen Group </a>for the information on
    this page </p>
  <p>Brian Dolan Feb 2021 (1.1)</p>
</footer> -->

<!-- <footer class="footer" style="color: primary">
    <p>
      Contact information:
      <a class="footerLink" href="mailto:shannonestuarydm@gmail.com"
        >shannonestuarydm</a>
    </p>
    <p>
      Thanks to
      <a class="footerLink" href="http://www.iwdg.ie/"
        >Irish Whale and Dolphin Group</a
      >
      for the information on this page
    </p>
    <p>Brian Dolan June 2023 (2.1)</p>
  </footer> -->

  <footer class="footer" style="color: primary">
    <div class="footer-section left">
      Contact information:
      <a class="footerLink" href="mailto:shannonestuarydm@gmail.com"
        >shannonestuarydm</a>
  </div>
  <div class="footer-section center">
    Thanks to
    <a class="footerLink" href="http://www.iwdg.ie/"
      >Irish Whale and Dolphin Group</a
    >
    for the information on this page
  </div>
  <div class="footer-section right">
      Brim Dolan September 2024 (beta 0.0.1)
  </div>
  </footer>
