<div class="content-outer-container">
  <div class="content-inner-container">
    <!-- @if (authService.currentUserSig()== null){ -->
<!--       <div>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </div>} -->

 
        <nav class="navbar">
            <div class="brand-name">Shannon Pilots</div>
            <ul class="nav-links">
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink="/register">Register</a></li>
            </ul>
        </nav>
      <!-- } -->
 

    @if (authService.currentUserSig()){
      <div>
        {{authService.currentUserSig()?.username}}
        <span (click)="logout()">Logout</span>
    </div>}

    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer-container">
  <app-footer></app-footer>
</div>
